@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body { 
    background-color: #1e213f;
    color: #d7e0ff;
}

.container {
    text-align: center;
    width: 100%;
    padding: 10px 9;
}

.timer {
    display: inline-block;
    padding: 10px;
    width: 600px;
    box-sizing: border-box;
}

main{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2rem;
    margin: 20px auto;
}

.button-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 2.5rem 0;
    text-align: center;
    border-radius: 50%;
    background: #151932;
    box-shadow: 20px 20px 42px #0e2021, -20px -20px 42px #1c2244;
}

.pomodoro::before{
    content: "";
    position: absolute;
}